*{
    margin: 0;
    box-sizing: border-box;
}




.shopcontainer{
    width: 100%;
    height: 700px;
    padding-top: 110px;
   


}

.shophead{
    width: 760px;
    margin: auto;

    text-align: center;
}

.shophead h1{
    font-family: 'Source Pro Serif','serif';
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

h1::before,
h1::after{
    width: 30%;
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
    opacity: 0.4;

}

.imgcont1{
    display: flex;
    margin-top: 100px;
    margin-left: 380px;


}

.imgcont1 div{
    width: 332px;
    margin-right: 100px;
}

.imgcont1 div img{
    outline: 2px solid black;
    outline-offset: -9px;
}

.linkp{
    margin-top: 50px;
    text-align: center;
}

.linkpa{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Source Pro Serif','serif';
    font-size: 26px;
    line-height: 1;
    cursor: pointer;
    color: black;
}

.linkpa:hover{
    color: #f93f23;
    text-decoration: underline;
}

.author{
    color: #f93f23;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

